*/.idea/
*/*/.idea/
*/*/*/.idea/
*/*/*/*/.idea/
*/build/
cv_ws/devel/
*/cmake-build-debug/
*/*/cmake-build-debug/
/*/*/cmake-build-debug/
/*/*/*/cmake-build-debug/
*/bin/
*/*/bin/
/*/*/bin/
/*/*/*/bin/


