*/.idea/
*/*/.idea/
*/*/*/.idea/
*/*/*/*/.idea/
cv_ws/devel/
*/cmake-build-debug/
*/*/cmake-build-debug/
/*/*/cmake-build-debug/
/*/*/*/cmake-build-debug/
*/bin/
*/*/bin/
/*/*/bin/
/*/*/*/bin/
*/lib/
*/*/lib/
/*/*/lib/
/*/*/*/lib/
*/build/
*/*/build/
/*/*/build/
/*/*/*/build/


